<%= image_tag @experience.main_image %>
<h1><%= @experience.title %></h1>

<em><%= @experience.subtitle%></em>

<p><%= @experience.body %> </p>

<h2>Technologies Used:</h2>

<% @experience.technologies.each do |technology| %>
  <p><%= technology.name %> </p>
<% end %>

<hr>

<%= params.inspect %>
